* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  height: max-content;
}
.menu-side {
  padding: 10px;
  background: rgba(245, 245, 245, 0.192);
  width: 20%;
  height: 110vh;
}
.menu-side .links a {
  text-decoration: none;
  color: rgb(27, 26, 26);
}
.menu-side .links span {
  padding: 10px 0;
}
.menu-side .links span {
  display: flex;
}
.links .fa-solid {
  padding-right: 10px;
}
.primary-links {
  margin-top: 20px;
}
.secondary-links {
  position: absolute;
  bottom: 20px;
}
.secondary-links span a {
  text-decoration: none;
  color: rgb(27, 26, 26);
}
.secondary-links span a h4 {
  padding: 10px 0;
}
#x-btn{
  display:none;
}
.dashboard {
  height: 100vh;
  width: 80%;
  
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  height: 10vh;
  width: 100%;
}
.top-bar-icons{
  display: flex;
  align-items: center;
}
.top-bar-icons img{
  margin-right:5px ;
  height: 40px;
  border: 1px solid #000;
  width: 40px;
  border-radius: 50%;
}
.user-info{
  display: flex;
  align-items: center;
}
 .fa-bell{
    margin: 10px 0;
  }
.main-dashboard {
  display: flex;
  height: 100vh;
}
.left-side-dashboard {
  height: 100vh;
  width: 75%;
}
.right-side-dashboard {
  height: 100vh;
  width: 30%;
  margin-left: 5px;
}
.first-row-dashboard {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}
.balance {
  border-radius: 10px;
  background: rgba(25, 173, 199, 0.219);
  width: 55%;
  padding: 20px 10px;
  height:40vh;
  margin-right: 5px;
}
.balance-head-percentage {
  display: flex;
  justify-content: space-between;
}
.percentage {
  color: rgb(61, 202, 122);
  display: flex;
}
.percentage .fa-solid {
  padding-right: 2px;
}
.balance h1 {
  margin-top: 15px;
}
.income-expenses {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.income span {
  font-size: 20px;
  display: flex;
}
.expenses span {
  font-size: 20px;
  display: flex;
}
.income-expenses .fa-solid {
  padding-right: 2px;
}
.income .fa-solid {
  color: rgb(3, 160, 3);
}
.expenses .fa-solid {
  color: red;
}
.savings {
  margin-bottom: 10px;
  background: rgba(25, 173, 199, 0.219);
  padding: 20px 10px;
  border-radius: 10px;
  width: 45%;
  height:40vh;
}
.savings-head-percentage {
  display: flex;
  justify-content: space-between;
}
.savings-head-percentage .percentage{
  color: red;
}
.savings h2 {
  margin-top: 15px;
}
.second-row-dashboard {
  width: 100%;
  margin-bottom: 5px;
}
.statistics-savings {
  width: 100%;
  height: 60vh;
  background-color: #201d1d;
}
.transaction .fa-solid{
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(139, 212, 187);
}
.transaction.fa-burger{
  background-color: rgb(6, 97, 66);
}
.transaction{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
  padding-right: 5px;
}
.transaction h2{
  font-size: 15px;
  text-transform: capitalize;
}
.transaction img{
  margin-right:2px ;
  height: 40px;
  border: 1px solid #000;
  width: 40px;
  border-radius: 50%;
}
.main-transactions{
  position: fixed;
  overflow-y: hidden;
}
.fa-bars{
  display: none;
}
.top-bar button{
    border: none;
    background: transparent;
  }

@media only screen and (max-width: 600px) {
  .container{
    margin: 0 10px;
  }
  .menu-side{
    background: white;
    position: fixed;
    width: 70%;
    left:-70% ;
    transition: ease-in-out 0.5s;
  }
  #x-btn{
    display: block;
    border: none;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .primary-links a{
    padding: 150px 0;
  }
  .top-bar button{
    border: none;
    background: transparent;
  }
  .fa-bars{
    border: none;
    display: block;
    margin: 10px 0;
  }
  .fa-bell{
    margin: 10px 0px;
  }
  .top-bar{
    align-items: center;
  }
  .secondary-links {
  position: absolute;
  bottom: 60vh;
}
  .top-bar-icons img{
    display: none;
  }
  .first-row-dashboard{
    display: block;
  }
  .savings{
    margin-top: 5px;
    width: 100%;
  }
  .top-bar-icons h3{
    display: none;
  }
  .transaction{
    display: none;
  }
  .dashboard{
    width: 100%;
  }
  .main-dashboard{
    margin: 0;
  }
  .top-bar{
    height: 7vh;
  }
  .right-side-dashboard{
    display: none;
  }
  .left-side-dashboard{
    width: 100%;
    height: 100vh;
  }
  .balance{
    margin-bottom: 10px;
    width: 100%;
    height: 25vh;
  }
}
